body {
    border-top: 8px solid darkgoldenrod;
    margin-bottom: 60px;
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Changa', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
}

header .container-fluid {
    background-color: rgb(214, 209, 202);
}

.mid_header {
    /* padding: 2px; */

    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Changa', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-size: bold;


}

.navbar .container-fluid {
    width: 100%;
    background-color: #084e58;
    border: 1px solid #03454f;
    box-shadow: 0px 0px 2px 2px #03454f;
}

.navbar .nav-link {

    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-size: 20px;

}
.navbar .nav-link:hover {
    background-color: #0b7786;
    color: black!important;
    /* font-size: 20px; */
    /* border: 2px solid #042e34; */
    /* border-radius: 5px; */
}
.dropdown-menu li {
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Changa', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    background-color: #0b7786;
    font-size: 20px;
}

.nav-item2{
   
    background-color: #084e58;
    color: white;
    font-size: 20px;
    display: flex;
    border: 2px solid #042e34;
    border-radius: 5px;
    box-shadow: 2px #0a2226;
}


/* header .nav-link{
    color: white!important;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Heebo', sans-serif;
    background-color: #730902;
}
header .nav-item{
    color: white!important;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Heebo', sans-serif;
    background-color: #730902;
} */
thead {
    background-color: #1995a6;
    color: black;
}


.head-display-1 {
    font-weight: 700;
    /* margin: 15px 0; */

}

.table-responsive {
    font-family: 'Heebo', sans-serif;
    margin-bottom: 2rem;
}

.panel-default {
    border: 2px solid black;
    background-color: rgb(214, 209, 202);
    /* font-weight: 200; */
    font-family: 'Heebo', sans-serif;
}


.panel-heading {
    background-color: #1995a6;
    color: black;
    /* font-weight: 200; */
    font-family: 'Heebo', sans-serif;
}

.adv-heading {
    background-color: #1995a6;
    color: black;
    /* font-weight: 200; */
    font-family: 'Heebo', sans-serif;
}

.nav-link {
    color: white !important;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Heebo', sans-serif;

}

#overflow {
    display: inline-block;
    background-color: rgb(214, 209, 202);
    border: 2px solid black;
    height: 450px;
    width: 100%;
    padding: 4px;
    overflow: auto;
    font-weight: 200;
    font-family: 'Heebo', sans-serif;
}

.footer_area {
    background-color: #072e33;
    color: #fff;
    font-weight: 200;
    font-family: 'Heebo', sans-serif;
}

.copy_area {
    background-color: #0d0d0d;
    color: #fff;
    font-weight: 200;
    font-family: 'Heebo', sans-serif;
}

.vl {
    border-left: 6px solid rgb(4, 89, 4);
    height: 500px;
    /* margin-left: 50px; */
    top: 0;
  }


  